fastapi==0.135.0
uvicorn==0.44.0

pandas==3.0.2
scikit-learn==1.8.0
joblib==1.5.3
numpy==2.4.4

pydantic==2.12.5

pytest==9.0.2
httpx==0.28.1

ruff==0.15.9
black==26.3.1

prometheus-fastapi-instrumentator==7.1.0
